@void-color: #000000;
body[data-tags~="void"]   { .body-location(@void-color); }

@city-color: #2a073a;
body[data-tags~="city"]   { .body-location(@city-color); }

.body-gradient(@color,) {
  @c0: lighten(@color, 15%);
  @c1: lighten(@color, 25%);
  @c2: lighten(@color, 50%);
  background-image: linear-gradient(180deg, @c0 25%, @c1 60%, @c2 100%);
}

.passage-gradient(@color) {
  @c1: lighten(@color, 10%);
  @c2: lighten(@color, 30%);
  background-image: linear-gradient(180deg, @color 35%, @c1 50%, @c2 100%);
}

body {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#passages {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 1rem;
  border-width: 1px;
  border-style: solid;
}

.body-location(@color) {
  .body-gradient(@color);

  #passages {
    border-color: @color;
    .passage-gradient(@color);
    -webkit-box-shadow: 0 0 30px 12px fade(@color, 40%);
    box-shadow: 0 0 30px 12px fade(@color, 40%);
  }
}
